nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 8em;
    margin-right: 8em;
    position: sticky;
    top: 0;

}

#tabs > a {
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;

}

#tab > a:hover{
    
}

body{
    background-color: cornflowerblue;
    
}

img{
    size: 30px;
}
    
