nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 8em;
    margin-right: 8em;

}

body{
    background-color: cornflowerblue;
    border: 20px;
    border-color: black;
    border-radius: 40%;
    
}

img{
    size: 30px;
}
    
