nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 8em;
    margin-right: 8em;
    position: sticky;
    top: 0;

}

#tabs > a {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid white;
    transition: all 0.3s ease-in;
    padding: 5px;

}

#tab > a:hover{
    font-size: large;
    color: black;

}

body{
    background-color: cornflowerblue;
    
}

#intro{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro > img{
    border-radius: 30%;
    width: 240px;
    height: 320px;
}

#intro > a{
    color: black;
    text-decoration: solid;
}
.intro-link{
    text-decoration: none;
    color: black;
    font-size: 40px;

}

.intro-link > a:hover{
    text-decoration: none;
    color: white;
    font-size: 40px;
}

img{
    size: 30px;
}
    
